
.container{
	max-width: 800px;
}

.row{
	align-items: center;
	border: 1px solid;
	text-align: center;
}

.car{
	width: 100%;
	font-size: 12px;
}

.car1{
	width: 100%;
	font-size: 12px;
}

.boby{
	font-size: 11px;
}